@inherits LayoutComponentBase
<div class="min-h-screen min-w-full bg-white text-black dark:bg-black dark:text-white font-mono">
    <NavMenu />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
