<div class="ps-3 py-3 flex">


    <div class="container text-2xl flex">
        <a class="ml-3 text-emerald-200" href="/">Story Master</a>
        <nav class="flex items-center mx-auto">
            <div class="px-3 lowercase dark:hover:text-emerald-300">
                <NavLink href="basic-predictions">
                    <span aria-hidden="true">Basic-Predictions</span>
                </NavLink>
            </div>
            <div class="px-3">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@* <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">

</div> *@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
