<section class="container w-full mx-auto">
    <h1 class="text-3xl text-center lowercase">An Introduction to Basic Predictions</h1>
    <div class="container max-w-screen-2xl rounded-md dark:border-emerald-200 border border-spacing-2 px-2 py-2 my-5">
        <p class="">
            To start, I want to learn more about how to create a mathematical model for
            determining whether a fruit is safe to eat or not.
        </p>
        <p>
            For this imaginary scenario, we can imagine a fruit that has three characteristics:
        </p>
        <ul class="ml-2">
            <li>Spike length in mm</li>
            <li>Spot area in mm^2</li>
            <li>Edible as Y/N</li>
        </ul>
    </div>
    <div class="">

    </div>
</section>