@using StoryMaster.Client.Constants;

<nav class="flex items-center mx-auto">
    <div class="px-3 lowercase">
        <NavLink href=@Routes.BasicPredictions>
            <span aria-hidden="true">Basic-Predictions</span>
        </NavLink>
    </div>
</nav>