@inherits LayoutComponentBase

<div class="min-h-screen min-w-full font-mono bg-stone-950 text-white bg-gradient-to-b from-emerald-900 to-emerald-950">
    <NavMenu />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
