<div class="ps-3 py-3 flex">
    <div class="container text-2xl flex">
        <a class="ml-3 " href="/">Story Master</a>
        <StoryMaster.Client.Features.BasicPredictions.Nav />
    </div>
</div>