<div class="ps-3 py-3 flex">
    <div class="container text-2xl flex">
        <a class="ml-3 bg-clip-text text-transparent bg-gradient-to-r from-emerald-50 to-emerald-100" href="/">Story
            Master</a>
        <StoryMaster.Client.Features.BasicPredictions.Nav />
    </div>
</div>